<h1>About Valingo!</h1>

<p>
	<%= link_to "Valingo!","http:valingo.com" %> is a language exchange network designed to help people learn and practive new languages the way we all learned our original language... through conversation! Connect with people who speak the language you want to learn and talk to them - you'll learn from each other!
</p>


