<h1>Valingo</h1>

<p>
Learn a new language or practice one you already speak with real people live at <%= link_to "Valingo!","http:valingo.com" %>
the world's premier Language Exchange Network!
</p>

<p>
	<%= link_to "Sign Up Now!","#" %>
</p>
