
$btnPrimaryBackground: #2B90D3;

@import "bootstrap";

body {

	padding-top: 60px;	

	}

.footer {

	text-align: center;
	margin-top: 50px;
	a {
		color: #2B90D3;
	}
}

.header{
	
	color: #2B90D3;
	
}

.buttons{
	
	padding-top: 10px;	

}